*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
images/Screen%20(1).jpg
images/Screen%20(2).jpg
images/Screen%20(3).jpg
